@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .panel-body, .container, header {
        width: 100%;
    }
}

.button {
    display: block;
    width: 100%;
    color: #ffffff;
    background-color: #008a00;
    border-color: #008a00;
    padding: 8px;
    cursor: pointer;
    font-size:1.1875rem;
    margin-bottom: 20px;
    margin-top: 3px;
}

.container {
    left: 25%;
    padding: 0 25%;
}

.panel-body {
    overflow-y: scroll;
    text-align: left;
    width: 200%;
}

.TC {
    text-align: center;
}